---
layout: default
title: Schedule
permalink: /schedule/
---

<div class="home">
    <table border="1" bordercolor="green" background="/images/test.png">
        <tr>
            <th>week</th>
            <th>day</th>
            <th>date</th>
            <th>topic</th>
            <th>events and deadlines</th>
        </tr>
        <tr><td rowspan="2">1</td><td>Sun.</td><td>1398/06/31</td><td>Administrative Lecture</td><td rowspan="2">A. 1 Fri. 1398/07/05</td></tr>
        <tr><td>Tue.</td><td>1398/07/02</td><td>Basic Concepts</td></tr>
        <tr><td rowspan="2">2</td><td>sun.</td><td>1398/07/07</td><td>Arithmetic</td><td rowspan="2">A. 2 Fri. 1398/07/12</td></tr>
        <tr><td>tue.</td><td>1398/07/09</td><td>Signed – unsigned</td></tr>
        <tr><td rowspan="2">3</td><td>sun.</td><td>1398/07/14</td><td>Signed – unsigned</td><td rowspan="2">A. 3 Fri. 1398/07/19</td></tr>
        <tr><td>tue.</td><td>1398/07/16</td><td>1’s complement</td></tr> 
        <tr><td rowspan="2">4</td><td>sun.</td><td>1398/07/21</td><td>Computer Codes</td><td rowspan="2">A. 4 Fri. 1398/07/26</td></tr>
        <tr><td>tue.</td><td>1398/07/23</td><td>Error Detection Codes && Floating Point</td></tr>
        <tr><td rowspan="2">5</td><td>sun.</td><td>1398/07/28</td><td>Boolean Algebra</td><td rowspan="2">A. 5 Fri. 1398/08/03</td></tr>
        <tr><td>tue.</td><td>1398/07/30</td><td>Boolean Algebra</td></tr>
        <tr><td rowspan="2">6</td><td>sun.</td><td>1398/08/05</td><td></td><td rowspan="2">A. 6 Fri. 1398/08/10</td></tr>
        <tr><td>tue.</td><td>1398/08/07</td><td></td></tr>
        <tr><td rowspan="2">7</td><td>sun.</td><td>1398/08/12</td><td>Logic Gates - Transistors</td><td rowspan="2">A. 7 Fri. 1398/08/17</td></tr>
        <tr><td>tue.</td><td>1398/08/14</td><td>Logic Gates</td></tr>
        <tr><td rowspan="3">8</td><td>sun.</td><td>1398/08/19</td><td>Logic Gates – active Low</td><td rowspan="2">A. 8 Fri. 1398/08/24</td></tr>
        <tr><td>mon.</td><td>1398/08/20</td><td>Analysis & Synthesis</td></tr>
        <tr><td>tue.</td><td>1398/08/21</td><td>Analysis & Synthesis - Sample</td></tr>
        <tr><td rowspan="3">9</td><td>sun.</td><td>1398/08/26</td><td>Optimization – K-map</td><td rowspan="2">A. 9 & P.1 phase Fri. 1398/09/01 </td></tr>
        <tr><td>mon.</td><td>1398/08/27</td><td>Optimization – Q-McCluskey</td></tr>
        <tr><td>tue.</td><td>1398/08/28</td><td>Timing Hazards & Combinational (Comb.) Blocks</td></tr>
        <tr><td rowspan="3">10</td><td>sun.</td><td>1398/09/03</td><td>Comb. Blocks 2: Decoder – Encoder / Selection Logic</td><td rowspan="2">A. 10 Fri. 1398/09/08</td></tr>
        <tr><td>tue.</td><td>1398/09/05</td><td>Comb. Circuits 1 / Comb. Circuits 2</td></tr>
        <tr><td>wed.</td><td></td><td>Sequential Circuits (Seq. Circuits)</td></tr>
        <tr><td rowspan="3">11</td><td>sun.</td><td>1398/09/10</td><td>Seq. Circuits 2: Flip Flops</td><td rowspan="2">A.11 & P. 1 phase Fri. 1398/09/15</td></tr>
        <tr><td>tue.</td><td>1398/09/12</td><td>Analysis of Seq. Circuits: Mealy & Moore FSM</td></tr>
        <tr><td>wed.</td><td>1398/09/14</td><td>Midterm (W. 1-8)</td></tr>
        <tr><td rowspan="2">12</td><td>sun.</td><td>1398/09/17</td><td>ASM</td><td rowspan="2">A.11 & P. 1 phase Fri. 1398/09/15</td></tr>
        <tr><td>tue.</td><td>1398/09/19</td><td>Application of Seq. Circuits</td></tr>
        <tr><td rowspan="2">13</td><td>sun.</td><td>1398/09/24</td><td>Q.3 [W. 9- 11] & Application of Seq. Circuits 2</td><td rowspan="2">A. 13 Fri. 1398/09/29</td></tr>
        <tr><td>tue.</td><td>1398/09/26</td><td>Synthesis of Seq. Circuits</td></tr>
        <tr><td rowspan="2">14</td><td>sun.</td><td>1398/10/01</td><td>Simplification of Seq. Circuits</td><td rowspan="2">A.14 & P. 1 phase Fri. 1398/10/06</td></tr>
        <tr><td>tue.</td><td>1398/10/03</td><td>Simplification of Seq. Circuits</td></tr>
        <tr><td rowspan="2">15</td><td>sat.</td><td>1398/10/08</td><td>Programmable Logic Device</td><td rowspan="2"></td></tr>
        <tr><td>tue.</td><td>1398/10/10</td><td>Q.4 [W.12 – 14] & Review, Samples</td></tr>
    </table>

        {% assign all_events = s | concat: site.lectures %}
        {% assign all_events = all_events | concat: site.assignments %}
        {% assign all_events_sorted = all_events | sort: 'date' %}

        {% for event in all_events_sorted reversed %}
        <li class="table-row table-row-{{ event.type}}">
            {% include schedule_row_{{ event.type }}.html event=event %}
        </li>
        {% endfor %}
    </ul>
</div>