---
layout: default
title: Schedule
permalink: /schedule/
---

<div class="home">
    <table border="1" bordercolor="green" background="/images/test.png">
        <tr>
            <th>week</th>
            <th>day</th>
            <th>date</th>
            <th>topic</th>
            <th>events and deadlines</th>
        </tr>
        <tr><td rowspan="2">1</td><td>Sun.</td><td>1398/06/31</td><td>Administrative Lecture</td><td rowspan="2">A. 1 Fri. 1398/07/05</td></tr>
        <tr><td>Tue.</td><td>1398/07/02</td><td>Basic Concepts</td></tr>
        
    </table>

        {% assign all_events = s | concat: site.lectures %}
        {% assign all_events = all_events | concat: site.assignments %}
        {% assign all_events_sorted = all_events | sort: 'date' %}

        {% for event in all_events_sorted reversed %}
        <li class="table-row table-row-{{ event.type}}">
            {% include schedule_row_{{ event.type }}.html event=event %}
        </li>
        {% endfor %}
    </ul>
</div>